EXPO_PUBLIC_OPENDATING_RELAY_URL=wss://opendating-relay.jonathang132298.workers.dev
EXPO_PUBLIC_OPENDATING_INFO_URL=https://opendating-relay.jonathang132298.workers.dev
EXPO_PUBLIC_OPENDATING_PROTOCOL_VERSION=0.1
